@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.App {
  font-family: "Poppins", sans-serif;
  text-align: center;
  max-width: 500px;
  margin: auto;
}
button {
  padding: 0.5rem 2rem;
  margin: 1rem;
  border: 1px solid black;
  background-color: rgb(156, 223, 62);
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #1f2224;
  color: black;
}
h1,
h3 {
  color: white;
}
