.App {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
button {
  padding: 1rem 3rem;
  background-color: transparent;
  margin: 1rem;
  border: 1px solid black;
  background-color: pink;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
}

body {
  background-color: rgb(25, 32, 41);
  color: rgb(241, 175, 50);
}
h1 {
  padding: 1rem;
}
h3 {
  padding-top: 2rem;
}
